TestProject_WS/Library/PackageCache/com.unity.burst@1.7.4/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Library/PackageCache/com.unity.burst@1.7.4/.Runtime/libburst-llvm-12.so filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Library/PackageCache/com.unity.burst@1.7.4/.Runtime/hostlin/lld filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Library/PackageCache/com.unity.burst@1.7.4/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Library/PackageCache/com.unity.burst@1.7.4/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Library/PackageCache/com.unity.burst@1.7.4/.Runtime/libburst-llvm-12.dylib filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Library/Bee/tundra.log filter=lfs diff=lfs merge=lfs -text
2.json filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Library/Bee/tundra.log[[:space:]]2.json filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Inventor/uniform-f-0026/textures/uniform-f-0026/uniform-f-0026/Character/Character_Pbr/Character_Pbr_HDRP.png filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Inventor/uniform-f-0026/uniform-f-0026.fbm/Character_Pbr_Diffuse.png filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Inventor/uniform-f-0026/uniform-f-0026.fbx filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Non-Inventor/party-f-0001/party-f-0001.fbm/Character_Pbr_Diffuse.png filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Non-Inventor/party-f-0001/party-f-0001.fbx filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Non-Inventor/party-f-0001/textures/party-f-0001/party-f-0001/blue/Character_Pbr/Character_Pbr_HDRP.png filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Non-Inventor/party-f-0001/textures/party-f-0001/party-f-0001/blue/Character_Pbr/Character_Pbr_ResourceMap_RGBMask.png filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Non-Inventor/party-m-0001/party-m-0001.fbx filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Non-Inventor/party-m-0001/textures/party-m-0001/party-m-0001/Cesar_D_LaTorre_Jacket/Character_Pbr/Character_Pbr_HDRP.png filter=lfs diff=lfs merge=lfs -text
TestProject_WS/Assets/Avatars/Non-Inventor/party-m-0001/textures/party-m-0001/party-m-0001/Cesar_D_LaTorre_Jacket/Character_Pbr/Character_Pbr_MetallicAlpha.png filter=lfs diff=lfs merge=lfs -text
